body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// ====================================================
// ini css untuk loading
.svgLoader {
    animation: spin 0.5s linear infinite;
    margin: auto;
  }
  .divLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
//   ======================================================================

.header {
    background-color: #68B0AB;
    padding-left: 15px;
    padding-top: 18px;
    padding-bottom: 12px;
}

.header .title2 {
    line-height: 5px;
    color: wheat;
}

header nav {
    background: #006A71;
    height: 41px;
    padding: 3px;
}

#toggle {
    position: absolute;
    margin-top: -38px;
    margin-left: 4px;
    width: 56px;
    height: 35px;
    border: 1px solid #006A71;
    border-radius: 5px;
    background: #68B0AB;
    padding: 6px;
    cursor: pointer;
}

#toggle span {
    width: 42px;
    height: 4px;
    background: wheat;
    display: block;
    margin-bottom: 5px;
}

.col {
    margin-top: 0%;
}

/* style sidebar */
#sidebar-container {
    min-height: 100vh;   
    background-color: white;
    padding: 0;
    transition: margin-left, 0.5s;
    box-shadow: 0px 5px 10px 5px #68B0AB;
    z-index: 3;
}

.sidebar-expanded {
    width: 215px;
}

.sidebar-active {
    margin-left: -215px;
}

.dropdown-container li a {
    color: wheat;
}

.dropdown-container li a:hover {
    text-decoration: none;
}

#seconddiv.slide-admin{
    height: 96px
}

#seconddiv.slide-master-data{
    height:241px;
}

#seconddiv.slide-laporan{
    height:97px;
}

#seconddiv {
    height: 0px;
    margin-left: -40px;
    transition: 0.5s;
    overflow: hidden;
}

.list-btn {
    margin-left: -40px;
}

.dropdown {
    cursor: pointer;
}

.dropdown a:hover {
    text-decoration: none;
    color:#006A71;
}

.text-bl{
    color:#006A71;
}

.text-list {
    color: wheat;
}

.bg-bl{
    background: #68B0AB;
}

.ml--5 {
    margin-left: -5px;
}

.no-btn {
    border: none;
    background: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

/* menghilangkan garis luar yang berwarna biru pada button ketika di klik */
.no-outline-f:focus {
    outline: none;
}
// ================================================================================================

// data supir
.table-android-admin {
    display: none;
}

// data supir
.table-android-user {
    display: none;
}

// menghilangkan jarak button prepend pada halaman data booking admin
.remove-margin-prepend {
    margin-right: -29px;
}


// =====================================================================
// bagian user
// Home

#sidebar-user {
    min-height: 100vh;   
    background-color: white;
    padding: 0;
    transition: margin-left, 0.2s;
    box-shadow: 0px 5px 10px 5px #68B0AB;
    z-index: 3;
    position: fixed;
}

// sidebar home user
.sidebar-active-user-home {
    margin-left: -14px;
}

// bagian carousel slide
.header-carousel {
    color: orange;
    font-weight: bold;
}

// bagian content home user
.col-home-user {
    z-index: 1;
    margin-left: 243px;
}

.carousel-caption {
    p {
        color: #99bf87;
        font-weight: bold;
    }
}

// footer
.footer{

    bottom: -439px;
    position: absolute;
    width: 100%;
    z-index: 3;
    background-color: #17a2b8;
}

// ==========================================================================================
// user halaman pemesanan jadwal 
// .total-pemesanan-jadwal {
//     width: 30%;
// }

// ============================================================================================

// #box {
//     height: 50px;
//     width: 50px;
//     background-color: red
//    }
   
//    #seconddiv.coolclass{
//     max-height:100%;
//    }
   
//    #seconddiv {
//     max-height: 0%;
//     transition: 0.9s;
//     overflow: hidden;
//     background: purple;
//    }

//    .App {
//      height: 100%;
//    }

//    #root {
//      height: 1200px;
//    }

@media screen and (max-width: 1000px) {
// @media only screen and (min-device-width : 768px) and (orientation: portrait) {

    .header {
        // judul dashboard admin
        h1 {
            font-size: 40px;
        }
    }

    // header user
#header-user-container {
    transition: display, 0.9s;
}

.header-user-expanded {
    display: none;
}

.header-user-active {
    display: block;
}

    // sidebar
    // tinggi sidebar
    #sidebar-container {
        min-height: 33vh;
        box-shadow: none;
    }

    #sidebar-user {
        min-height: 33vh;
        box-shadow: none;
        position: static;
    }

    // lebar sidebar
    .sidebar-expanded {
        width: 100%;
    }

    // sedebar sembunyi
    .sidebar-active {
        margin-left: -361px;
    }

    // text sidebar ketengan
    .sidebar-android {
        text-align: center;
    }

    // dashboard page
    .container-fluid {
        h1 {
            font-size: 25px;
            margin-bottom: -14px;
        }

        .header-laporan-jadwal {
            margin-bottom: 10px;
        }

        .cetak-laporan-booking {
            margin-bottom: 10px;
        }
        
        .responsive-card {
            width: 100%;
        }
    }

    // menghilangkan padding kiri dan kanan
    .container-none-margin {
        padding-right: 0px;
        padding-left: 0px;
    }

    // pelanggan page
    .resonsive-div-pelanggan {
        overflow-x: auto;
    }

    // data supir
    .table-web-admin {
        display: none;
    }

    // data supir
    .table-android-admin {
        display: block;
    }

    .table-web-user {
        display: none;
    }

    // data supir
    .table-android-user {
        display: block;
    }

// ======================================================================
    // Halaman user
    .sidebar-expanded-user {
        width: 104%;;
    }

    .row-home {
        margin-right: -15px;
    }

    .col-home-user {
        margin-left: -8px;
    }

    // bagian carousel slide
    .carousel {
        margin-top: 24px;
    }

    .header-carousel {
        font-size: 17px;
    }

    .carousel-caption {
        p {
            font-weight: normal;
        }
    }


}